{% set menuItems = [{name: 'Projects', href: '/projects'}, {name: 'Contact', href: '/contact'}] %}

{% extends "layout.njk" %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="cover projects"></div>

<div class="blocks-row blocks-2">
	{% include "blocks/oh.njk" %}
	{% include "blocks/proxserve.njk" %}
</div>
{% endblock %}