{% layout "layout.liquid", pageTitle: 'Projects', mainMenu: menus.noamlin %}

{% block body %}
<div class="cover projects"></div>

<div class="blocks-row blocks-2">
	{% render 'partials/block-oh.liquid' %}
	{% render 'partials/block-proxserve.liquid' %}
</div>
{% endblock %}