{% set menuItems = [{name: 'Getting Started', href: '/proxserve/'}, {name: 'API', href: '/proxserve/api'}, {name: 'Demos', href: '/proxserve/demos'}] %}

{% extends "layout.njk" %}

{% block title %}Proxserve - {% block title_2 %}{% endblock %}{% endblock %}