<div class="block">
	<i class="fas fa-people-arrows"></i>
	<h3>OH!</h3>
	<p>
		Object Hub is a library that changes the concept of server-client.
		It creates a “hub” on the server for an object.
		All clients connected to the hub are always synchronized - mirroring changes from one client to another on the fly.
		Your code doesn’t change an inch - it just happens, like magic.
	</p>
	<a class="square" href="/oh"><span>Go 2 OH!</span></a>
</div>