<div class="block">
	<i class="far fa-eye"></i>
	<h3>Proxserve</h3>
	<p>
		Proxserve is a library for observing an object via javascript’s proxy.
		This powerful library lets you track any change made to your object
		and sub-objects while staying extremely efficient on CPU and memory.
	</p>
	<a class="square" href="/proxserve"><span>Go 2 Proxserve</span></a>
</div>